<div class="people">
  <a href="/"> &#8592; Back</a>
  <a href={{image}}></a>
  <h1>{{name}}</h1>
  <div>{{age}}</div>
  <div>{{"place of birth"}}</div>
  <div>
    <h3>BIO:</h3>
    <p>{{Bio}}</p>
  </div>
  <a href="/user/edit/{{id}}">Edit</a>
</div>