  <a href="/" class="back">< Back</a>
   {{!-- <a href={{image}}></a>  --}}
<div class="user-box">
  <div class="user-title">
    <div class="profile-img">
      <img src="{{image}}" />
    </div>
    <p class="user-name">{{name}}</p>
  </div>
   <div class="profile-info">{{age}}</div>
   <div class="profile-info">{{"place of birth"}}</div>
   <div class="bio">
    <h3>BIO:</h3>
    <p>{{Bio}}</p>
   </div>
   <a href="/profile/{{id}}edit" class="edit">Edit</a>
</div>
